.navbar-statick{
	z-index: 1;
	background:rgba(0,0,0,0);
	position: relative;
}
.navbar-statick .wrapper-nav{
	margin: 0 auto;
	text-align: center;
}
.navbar-statick .wrapper-nav .list-item-nav{
	height: 60px;
	padding: 0px 20px;
	display: inline-block;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle{
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle a{
	color: rgb(255,255,255);
	text-decoration: none;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	font-size: 16px;
	font-family: 'OptimaLTStd';
	font-weight: bold;
	cursor: pointer;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon-berri{
	width: 80px;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle i{
	color: rgb(255,255,255);
	text-decoration: none;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	font-size: 25px;
	cursor: pointer;
}

.owl-slide-one-image-fluid{
	margin-top: -65px;
}
.owl-slide-one-image-fluid .wrapper-image-background{
	height: 680px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.owl-slide-one-image-fluid .owl-pagination{
	position: relative;
	margin-top: -50px;
}
.owl-slide-one-image-fluid .owl-controls .owl-pagination .owl-page span{
	background: rgb(255,255,255);
}
.owl-slide-one-image-fluid .owl-controls .owl-pagination .active span{
	background: rgb(246,182,68);
}

.home-content-berri{
	position: relative;
}
.home-content-berri .wrapper-background{
	position: absolute;
    top: 0;
    height: 1800px;
    width: 100%;
    z-index: -1;
}
.home-content-berri .background{
	background-repeat: repeat-x;
	background-size: cover;
}
.home-content-berri .background-1st{
	height: 365px;
}
.home-content-berri .background-2sd{
	height: 500px;
	margin-left: -10px;
}
.home-content-berri .background-3th{
	height: 365px;
	
}
.home-content-berri .wrapper-content-berri{
	position: relative;
	padding-top: 45px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background: rgba(0,0,0,0);
	height: 500px;
}

.home-content-berri .wrapper-content-berri .who-we-are{
	margin: 0 auto; 
	width: 75%;
}
.home-content-berri .wrapper-content-berri .who-we-are .title{
	text-align: center;
	margin: 0px auto 115px;
	font-family: 'OptimaLTStd-Black';
	font-size: 45px;
	color: rgb(246,174,57);
}
.home-content-berri .wrapper-content-berri .who-we-are .description{
	padding: 0px 20px;
}
.home-content-berri .wrapper-content-berri .who-we-are .description p{
	text-indent: 50px; 
	line-height: 1.6;
	font-family: 'OptimaLTStd-Medium';
}
.home-content-berri .wrapper-content-berri .who-we-are .description .for-btn-more{
	text-align:center;
	margin: 65px auto 0px;
}
.home-content-berri .wrapper-content-berri .who-we-are .img-who-we-are{
	width: 80%;
	height: auto;
	box-shadow: -5px 20px 15px -10px rgba(132, 124, 124,.8);
}

.home-content-berri .wrapper-content-berri .where-to-find-us{
	margin: 0 auto; 
	width: 75%;
}
.home-content-berri .wrapper-content-berri .where-to-find-us .title{
	text-align: center;
	margin: 160px auto 60px;
	color: rgb(255,255,255);
    font-family: 'Black-Crayon';
    font-size: 45px;
}
.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us{
	width: 100%;
    margin: 0 auto;
}
.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us{
	background-color: rgb(242,165,45);
	width: 100%;
	padding: 15px;
	display: table;
}
.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us .bg-pict{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 250px;
}
.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us .bg-pict .logo-find-us{
	width: 50%;
	height: auto;
}

.home-content-berri .wrapper-content-berri .recipe{
	margin: 0 auto; 
	width: 100%;
}

.home-content-berri .wrapper-content-berri .recipe .title{
	text-align: center;
    font-family: 'OptimaLTStd-Black';
    font-size: 45px;
	color: rgb(246,174,57);
	margin: 45px auto 40px;
}
.home-content-berri .wrapper-content-berri .recipe .recipe-list{
	/*background-color: green;*/
    width: 100%;
    left: 0;
    height: 340px;
}
.home-content-berri .wrapper-content-berri .recipe .recipe-list .recipe-item{
	text-align:center;
}
.home-content-berri .wrapper-content-berri .recipe .recipe-list .recipe-item h3{
    font-family: 'OptimaLTStd';
    font-weight: bold;
	cursor: pointer;
	color: rgb(246,174,57);
}
.home-content-berri .wrapper-content-berri .recipe .recipe-list .recipe-item .recipe-pic{
	width: 280px;
	height: 280px;
	border-radius: 100%;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
}

.product{
	 background-size: cover; 
	 background-position: 100% 100%;
	 margin-top: 50px; 
	 position: relative; 
	 padding-top: 150px;
}
.product .title{
    font-family: 'OptimaLTStd-Black';
    font-size: 45px;
	text-align: center; 
	margin: 60px auto 0px; 
	color: rgb(255,255,255);
	position: relative;
	z-index: 1;
}
.product .product-item-list-wrapper{
	width: 100%; 
	position: relative; 
	margin-top: 200px;
}

.product .product-item-list-wrapper .product-name{
    font-family: 'OptimaLTStd-Black';
	text-shadow: 10px 10px 10px rgba(105,105,105,.8);
	position: relative;
	z-index: 1;
}
.product .product-item-list-wrapper .description{
    font-family: 'OptimaLTStd-Medium';
    position: relative;
	z-index: 1;
}

.product .product-item-list-1st .picture{
	position: absolute; 
	width: 50%; 
	top:-300px;
}
.product .product-item-list-1st .description{
	float: right; 
	width: 45%; 
	margin-bottom: 30px; 
	margin-right: 8%; 
	color: rgb(255,255,255)
}
.product .product-item-list-1st .product-name{
	text-align: center; 
	float: right; 
	margin-right: 10%; 
	color: rgb(255,255,255); 
	font-size: 80px; 
	margin-top: 75px;
}

.product .product-item-list-2nd .description{
	float: left; width: 30%; 
	margin-top: -25px; 
	margin-left: 15%; 
	color: rgb(255,255,255);
}
.product .product-item-list-2nd .picture{
	position: absolute; 
	width: 50%; 
	top:-300px;
}
.product .product-item-list-2nd .product-name{
	text-align: center; 
	float: left; 
	margin-left: 15%; 
	color: rgb(255,255,255); 
	font-size: 69px; 
	margin-top: 30px;
}

.product .product-item-list-3th .picture{
	position: absolute; 
	width: 50%; 
	left:-20px; 
	top:-315px;
}
.product .product-item-list-3th .description{
	float: right; 
	width: 45%; 
	margin-top: 30px; 
	margin-right: 8%; 
	color: rgb(255,255,255);
}
.product .product-item-list-3th .product-name{
	text-align: center; 
	float: left; 
	margin-left: 38%; 
	color: rgb(255,255,255); 
	font-size: 80px; 
	margin-top: 75px;
}

.product .for-btn-all-product{
	margin: 40px auto 80px; 
	text-align: center;
}

.contact-us .title{
	text-align: center; 
	margin: 60px auto 50px; 
	color: rgb(255,255,255); 
    font-family: 'Black-Crayon';
	font-size: 46px;
}
.contact-us .row{
	width: 80%; 
	margin: 0 auto;
}
.contact-us .row .description{
	color: white;
}
.contact-us .row .description p{
    font-family: 'OptimaLTStd-Medium';
	font-size: 16px;
	margin-bottom: 15px;
}
.contact-us .row .description img{
	width: 35px;
	margin-right: 15px;
}
.contact-us .row .form-contact .form-control{
	margin: 10px 0px;
}
.contact-us .row .form-contact .btn-submit{
	border: none; 
	border-radius: 0px; 
	background-color: white; 
	padding: 5px 20px; 
	color: rgb(246,174,57); 
	font-size: 20px;
	font-weight: bold;
}

.for-web-devlop{
	text-align: center; 
	margin-top: 40px; 
	padding-bottom: 60px; 
	color: white;
}
.for-web-devlop p{
    font-family: 'OptimaLTStd-Medium';
	margin: 0px 0px 5px;
}
.for-web-devlop img{
	height: 15px;
	cursor: pointer;
}

.footer{
	width: 95%; 
	margin: 0 auto; 
	color: red; 
	height: 60px; 
	padding:10px 0px;
}
.footer .wrapper-footer{
	height: 40px; 
	display: table-cell; 
	vertical-align: middle;
}
.footer .wrapper-footer label{
    font-family: 'OptimaLTStd-Medium';
	margin: 0 10px;
}
.footer .wrapper-footer label b{
    font-family: 'OptimaLTStd-ExtraBlack';
}
.footer .wrapper-footer .logo-contact-us-footer{
	width: 30px;
	cursor: pointer;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.border-gradian-right {
    border-right-width: 1.9px;
    border-right-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
}