@font-face {
    font-family: 'Black-Crayon';
    src: url('../font/Black-Crayon.ttf');
}


@font-face {
    font-family: 'OptimaLTStd';
    src: url('../font/OptimaLTStd.otf');
}
@font-face {
    font-family: 'OptimaLTStd';
    src: url('../font/OptimaLTStd-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'OptimaLTStd';
    src: url('../font/OptimaLTStd-Italic.otf');
	font-style:italic;
}
@font-face {
    font-family: 'OptimaLTStd';
    src: url('../font/OptimaLTStd-BoldItalic.otf');
    font-weight: bold;
	font-style:italic;
}
@font-face {
    font-family: 'OptimaLTStd-Black';
    src: url('../font/OptimaLTStd-Black.otf');
}
@font-face {
    font-family: 'OptimaLTStd-Black';
    src: url('../font/OptimaLTStd-BlackItalic.otf');
	font-style:italic;
}
@font-face {
    font-family: 'OptimaLTStd-ExtraBlack';
    src: url('../font/OptimaLTStd-ExtraBlack.otf');
}
@font-face {
    font-family: 'OptimaLTStd-Medium';
    src: url('../font/OptimaLTStd-Medium.otf');
}


/*@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../font/Champagne & Limousines Bold Italic.ttf');
    font-weight: bold;
	font-style:italic;
}*/