#space-top{
	background-color: black;
	height: 60px;
	width: 100%;
}
#product-index{
	background-color: rgb(0,0,0);
}
#product-index .bg-display{
	height: 650px;
	width: 1300px;
	margin: 0 auto;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#product-index h1.page-name{
	margin: 0 auto;
	font-family: 'PermanentMarker';
	font-size: 44px;
    color: rgb(242,176,56);
    text-align: center;
    text-shadow: 
    	3px 0px rgb(255,255,255), 
    	-3px 0px rgb(255,255,255), 
    	0px 3px rgb(255,255,255), 
    	0px -3px rgb(255,255,255);
}
#product-index #outters{
	width: 100%;
	height: 100vh;
	padding-top: 0px;
    padding-left: 58px;
    padding-right: 57px;
    padding-bottom: 35px;
    display: table;
}
#product-index #outters .column{
	width: 100%;
	display: block;
}
#product-index #outters .column .wrapper-display{
	display: inline-grid;
	text-align: center;
	height: 280px;
	width: 33%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#product-index #outters .column .wrapper-display:first-child{
	/*margin-bottom: 5px;*/
}
#product-index #outters .column .wrapper-display:last-child{
	/*margin-top: 5px;*/
}
#product-index #outters .column .wrapper-display .vertical{
	display: table;
	width: 100%;
	height: 280px;
}
#product-index #outters .column .wrapper-display .vertical .vertical-align{
	width: 100%;
	height: 280px;
	vertical-align: bottom;
	display: table-cell;
	position: relative;
}
#product-index #outters .column .wrapper-display img{
	height: 200px;
	width: auto;
}
#product-index #outters .column .wrapper-display h1.title{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	font-family: 'PermanentMarker';
	font-size: 24px;
    color: rgb(242,176,56);
    text-align: center;
    text-shadow: 
    	3px 0px rgb(255,255,255), 
    	-3px 0px rgb(255,255,255), 
    	0px 3px rgb(255,255,255), 
    	0px -3px rgb(255,255,255);
}
@media (max-width: 480px) {
	#space-top{
		display: none;
	}
	#product-index .bg-display{
		width: 100%;
		height: 100vh;
	    background-size: 350% 200%;
	    background-position: 91% 5%;
	}
	#product-index h1.page-name{
		font-size: 40px;
	    padding-top: 10vh;
	    padding-bottom: 5vh;
	}
	
	#product-index #outters-owl{
		width: 100%;
		height: 70vh;
		position: relative;
		padding: 0;
	}
	#product-index #outters-owl .item{
		overflow: hidden;
		width: 100%;
	}
	#product-index #outters-owl .item .text-center{
		position: relative;
		width: 100vw;
		height: 80vh;
		padding-bottom: 10px;
		vertical-align: bottom;
		display: table-cell;
	}
	#product-index #outters-owl .item a{
		text-align: center;
	}
	#product-index #outters-owl .item a img{
		max-height: 390px;
		max-width: 100%;
		text-align: center;
	}
	#product-index #outters-owl .item a h1.title{
		font-family: 'PermanentMarker';
		font-size: 26px;
	    color: rgb(242,176,56);
	    margin-top: 10px;
		text-shadow: 
			1px 0px #FFF, 
			-1px 0px #FFF, 
			0px 1px #FFF, 
			0px -1px #FFF;
	}
	#product-index #outters-owl .owl-controls{
		position: absolute;
		top: 30vh;
		width: 100vw;
		padding: 0 10px;
	}
	#product-index #outters-owl .owl-controls .owl-prev{
		float: left;
	}
	#product-index #outters-owl .owl-controls .owl-next{
		float: right;
	}
	#product-index #outters-owl .owl-controls .owl-buttons div{
		background-color: rgba(0,0,0,0);
		font-size: 45px;
	}

}