/* dekstop */
	#recipe{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	#recipe:before{
		content: "";
	    background-image: url('{{ asset('amadeo/image/base/leaves-up.png') }}');
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    position: absolute;
	    top: 0px;
	    width: 100%;
	    height: 290px;
	    z-index: 1;
	}
	#recipe .setup-content{
		background-color: rgb(255,255,255);

	}
	#recipe .setup-content h1.title{
		padding-top: 120px;
		margin-top: 0;
		margin-bottom: 15px;
		position: relative;
		z-index: 5;
	}
	#recipe .setup-content .tools{
		position: relative;
		width: 45%;
		margin: 0 auto;
		margin-bottom: 40px;
		text-align: center;
		z-index: 5;
	}
	#recipe .setup-content .tools .tool{
		margin-left: 20px;
		margin-right: 20px;
	}
	#recipe .setup-content .tools .tool .fa-circle,
	#recipe .setup-content .tools .tool label{
		color: rgb(246,184,70);
	}
	#recipe .setup-content .tools .tool .fa-inverse{
		color: rgb(255,255,255);
	}
	#recipe .setup-content .display-img{
		width: 100%;
		height: 60vh;
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    margin-bottom: 60px;
	}
	#recipe .setup-content .description-wrapper{
		position: relative;
		padding-bottom: 20px;
		width: 80%;
		margin: 0 auto;
		/*text-align: center;*/
	}
	#recipe .setup-content .description-wrapper{
		font-family: 'LibreBaskerville';
	}
	/*#recipe .setup-content .description-wrapper p.bold{
		font-weight: bold;
	}*/
	#recipe .setup-content .description-wrapper h2.title{
		color: rgb(246,184,70);
		text-align: center;
	}
	#recipe .setup-content .wrapper-recipe{
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
	}
	#recipe .setup-content .wrapper-recipe .recipe-show{
		float: left;
		width: 25%;
		height: 35vh;
		padding: 10px;
		margin-bottom: 30px;
	}
	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img{
		width: 100%;
		height: 35vh;
		box-shadow: 0px 0px 20px;
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    display: table;
	}
	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img .descrip-wrapper{
	    text-align: center;
	    vertical-align: bottom;
	    display: table-cell;
		width: 100%;
		height: 35vh;
		background: rgba(0,0,0,.6); 
	    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,1)); 
	    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,1)); 
	    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,1)); 
	    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,1));
	}
	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img .descrip-wrapper a{
		text-decoration: none;
	}

	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img p{
		width: 80%;
		margin: 0 auto;
		margin-bottom: 5px;
		color: rgb(255,255,255);
		font-family: 'LibreBaskerville';
	}
	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img p:nth-child(odd){
		font-weight: bold;
		font-size: 18px;
	}
/* dekstop */

@media (max-width: 480px) {
	.setup-wrapper .setup-content.nor-wd{
		width: 90%;
	}
	#recipe:before{
	    background-size: 100% 100%;
	    background-position: center top;
	    height: 105px;
	}
	.setup-wrapper .setup-content h1.title{
		font-size: 32px;
	}
	#recipe .setup-content .tools{
		width: 100%;
	}
	#recipe .setup-content .tools .tool{
		margin: auto;
	}
	#recipe .setup-content .wrapper-recipe{
		display: none;
	}
	#recipe .setup-content .wrapper-recipe .recipe-show{
		width: 100%;
		height: 20vh;
	}
	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img,
	#recipe .setup-content .wrapper-recipe .recipe-show .recipe-img .descrip-wrapper{
		height: 20vh;
	}

	.hidden-mobile{
		display: none;
	}
	#recipe .setup-content h1.title{
		padding-top: 30px;
	}
	.mobile.display-img{
		width: 100%;
		height: 30vh;
		background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    margin-bottom: 0px;
	}
}