/* for contact */
#contact-us{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#contact-us h1.title{
  text-align: center;
  color: rgb(99,99,99);
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'PermanentMarker';
  font-size: 53px;
}
#contact-us .row{
  margin: 0 auto;
}
#contact-us .row .description{
  color: white;
}
#contact-us .row .description p,
#contact-us .row .description a{
    font-family: 'LibreBaskerville';
    font-size: 16px;
  margin-bottom: 15px;
  color: rgb(99,99,99);
  text-decoration: none;
}
#contact-us .row .description img{
  width: 35px;
  margin-right: 15px;
}
#contact-us .row .form-contact .form-control{
  margin: 10px 0px;
}
#contact-us .row .form-contact .btn-submit{
  border: none; 
  border-radius: 0px; 
  background-color: white; 
  color: rgb(246,174,57); 
  font-weight: bold;
  transition: all .51s;
  padding: 5px 20px; 
  font-size: 20px;
}
#contact-us .row .form-contact .btn-submit:hover{
  background-color: rgb(255, 210, 0);
}

#contact-us .for-web-devlop{
  text-align: center; 
  color: white;
  margin-top: 40px; 
  padding-bottom: 60px;
}
#contact-us .for-web-devlop p{
    font-family: 'OptimaLTStd-Medium';
    margin: 0px 0px 5px;
}
#contact-us .for-web-devlop img{
  cursor: pointer;
  height: 24px;
}
/* end for contact */