@media (max-width: 480px) {
	/* Make this fixed*/
	.navbar-statick{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: rgba(242,165,45,.6);
		z-index: 2;
		transition: all .51s;
	}
	.navbar-statick .wrapper-nav .list-item-nav{
		height: 60px;
		width: 80%;
		margin: 0 auto;
	}
	.navbar-statick .wrapper-nav .list-item-nav .valign-midle{
		height: 60px;
	}
	.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon-berri{
		width: 80px;
	}
	.navbar-statick .wrapper-nav .list-item-nav #bar-mobile-animate{
		width: 250px;
    	text-align: right;
	}

	/* hide navbar */
	.navbar-statick .wrapper-nav .list-item-nav{
		display: none;
	}
	/* show icon bar */
	.navbar-statick .wrapper-nav .resposive-mobile{
		display: block;
	}
	
	/* click function for show navbar run in jquery navbar-static.js*/
	

	.owl-slide-one-image-fluid{
		margin-top: -65px;
	}
	.owl-slide-one-image-fluid .wrapper-image-background{
		height: 680px;
		width: 100%;
		background-position: 48% 100%;
	}
	.owl-slide-one-image-fluid .owl-pagination{
		margin-top: -50px;
	}

	.home-content-berri .background-1st{
		height: 365px;
	}
	.home-content-berri .background-2sd{
		height: 500px;
		margin-left: -10px;
	}
	.home-content-berri .background-3th{
		height: 2500px;
	    background-size: contain;
	    background-repeat: repeat-y;
	}
	.home-content-berri .wrapper-content-berri{
		padding-top: 45px;
	}

	.home-content-berri .wrapper-content-berri .who-we-are{
		width: 75%;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .title{
		margin: 0px auto 15px;
		font-size: 45px;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .description{
		padding: 0px 20px;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .description p{
		text-indent: 50px; 
		line-height: 1.6;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .description .for-btn-more{
		margin: 40px auto 25px;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .img-who-we-are{
		width: 100%;
	}

	.home-content-berri .wrapper-content-berri .where-to-find-us{
		margin: 0 auto; 
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .title{
		margin: 60px auto 25px;
	    font-size: 35px;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us{
		width: 75%;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us{
		width: 100%;
		padding: 5px;
		margin-bottom: 20px;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us .bg-pict{
		width: 100%;
		height: 250px;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us .bg-pict .logo-find-us{
		width: 50%;
	}

	.home-content-berri .wrapper-content-berri .recipe{
		width: 100%;
	}

	.home-content-berri .wrapper-content-berri .recipe .title{
	    font-size: 45px;
		margin: 45px auto 40px;
	}
	.home-content-berri .wrapper-content-berri .recipe .recipe-list{
	    width: 100%;
	    left: 0;
	}
	.home-content-berri .wrapper-content-berri .recipe .recipe-list .recipe-item .recipe-pic{
		width: 280px;
		height: 280px;
	}

	.product{
		 margin-top: 50px; 
		 padding-top: 150px;
	}
	.product .title{
	    font-size: 45px;
		margin: 60px auto 0px; 
	}
	.product .product-item-list-wrapper{
		width: 75%; 
		margin: 10px auto;
	}

	.product .product-item-list-1st .picture{
		width: 60%; 
		float: right;
		position: relative;
	}
	.product .product-item-list-1st .description{
		width: 100%; 
		float: none;

	}
	.product .product-item-list-1st .product-name{
		margin: 10px auto; 
		font-size: 30px; 
		text-align:none;
		float: none;
	}

	.product .product-item-list-2nd .description{
		width: 100%; 
		float: none;
	}
	.product .product-item-list-2nd .picture{
		width: 60%; 
		position: relative;
		float: right;
	}
	.product .product-item-list-2nd .product-name{
		font-size: 30px; 
		text-align:none;
		float: none;
	}

	.product .product-item-list-3th .picture{
		width: 60%; 
		position: relative;
		float: right;
	}
	.product .product-item-list-3th .description{
		width: 100%; 
		float: none; 
	}
	.product .product-item-list-3th .product-name{
		font-size: 30px; 
		text-align:none;
		float: none;
	}

	.product .for-btn-all-product{
		margin: 40px auto 80px; 
	}

	.contact-us .title{
		margin: 60px auto 50px; 
		font-size: 46px;
	}
	.contact-us .row{
		width: 80%; 
	}
	.contact-us .row .description p{
		font-size: 16px;
		margin-bottom: 15px;
	}
	.contact-us .row .description img{
		width: 35px;
		margin-right: 15px;
	}
	.contact-us .row .form-contact{
		margin-top: 60px;
	}
	.contact-us .row .form-contact .form-control{
		margin: 10px 0px;
	}
	.contact-us .row .form-contact .btn-submit{
		padding: 5px 20px; 
		font-size: 20px;
	}

	.for-web-devlop{
		margin-top: 40px; 
		padding-bottom: 60px; 
	}
	.for-web-devlop p{
		margin: 0px 0px 5px;
	}
	.for-web-devlop img{
		height: 15px;
	}

	.footer{
		width: 95%; 
		height: 60px; 
		padding:10px 0px;
	}
	.footer div{
		float: none;
		border-right: none;
	}
	.footer .wrapper-footer{
		height: 40px; 
		border-left-width: 1.9px;
	    border-left-style: solid;
	    -webkit-border-image: 
	      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
	    -webkit-border-image: 
	      -webkit-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
	    -moz-border-image:
	      -moz-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;    
	    -o-border-image:
	      -o-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
	    border-image:
	      linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
	}
	.footer .wrapper-footer label{
		margin: 0 10px;
	}
	.footer .wrapper-footer label b{
		display: block;
	}
	.footer .wrapper-footer .logo-contact-us-footer{
		width: 30px;
	}

	.footer .resposive-mobile{
		display: none;
	}
	.border-gradian-right{
		border: none;
	}
}
