@media (min-width:1020px) {
	.navbar-statick .wrapper-nav .list-item-nav{
		height: 60px;
		padding: 0px 20px;
	}
	/* for mobile responsive */
	.navbar-statick .wrapper-nav .list-item-nav #bar-mobile-animate{
		display: none;
	}
	.navbar-statick .wrapper-nav .list-item-nav .valign-midle{
		height: 60px;
	}
	.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon-berri{
		width: 80px;
	}

	.owl-slide-one-image-fluid{
		margin-top: -65px;
	}
	.owl-slide-one-image-fluid .wrapper-image-background{
		height: 680px;
		width: 100%;
	}
	.owl-slide-one-image-fluid .owl-pagination{
		margin-top: -50px;
	}

	.home-content-berri .background-1st{
		height: 365px;
	}
	.home-content-berri .background-2sd{
		height: 500px;
		margin-left: -10px;
	}
	.home-content-berri .background-3th{
		height: 400px;
	}
	.home-content-berri .wrapper-content-berri{
		padding-top: 45px;
	}

	.home-content-berri .wrapper-content-berri .who-we-are{
		width: 75%;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .title{
		margin: 0px auto 115px;
		font-size: 45px;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .description{
		padding: 0px 20px;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .description p{
		text-indent: 50px; 
		line-height: 1.6;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .description .for-btn-more{
		margin: 65px auto 0px;
	}
	.home-content-berri .wrapper-content-berri .who-we-are .img-who-we-are{
		width: 80%;
	}

	.home-content-berri .wrapper-content-berri .where-to-find-us{
		margin: 0 auto; 
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .title{
		margin: 160px auto 60px;
	    font-size: 45px;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us{
		width: 75%;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us{
		width: 100%;
		padding: 15px;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us .bg-pict{
		width: 100%;
		height: 250px;
	}
	.home-content-berri .wrapper-content-berri .where-to-find-us .row-find-us .wrapper-find-us .bg-pict .logo-find-us{
		width: 50%;
	}

	.home-content-berri .wrapper-content-berri .recipe{
		width: 100%;
	}

	.home-content-berri .wrapper-content-berri .recipe .title{
	    font-size: 45px;
		margin: 45px auto 40px;
	}
	.home-content-berri .wrapper-content-berri .recipe .recipe-list{
	    width: 100%;
	    left: 0;
	}
	.home-content-berri .wrapper-content-berri .recipe .recipe-list .recipe-item .recipe-pic{
		width: 280px;
		height: 280px;
	}

	.product{
		 margin-top: 50px; 
		 padding-top: 150px;
	}
	.product .title{
	    font-size: 45px;
		margin: 60px auto 0px; 
	}
	.product .product-item-list-wrapper{
		width: 100%; 
		margin-top: 200px;
	}

	.product .product-item-list-1st .picture{
		width: 50%; 
		top:-300px;
	}
	.product .product-item-list-1st .description{
		width: 45%; 
		margin-bottom: 30px; 
		margin-right: 8%; 
	}
	.product .product-item-list-1st .product-name{
		margin-right: 10%; 
		font-size: 80px; 
		margin-top: 75px;
	}

	.product .product-item-list-2nd .description{
		width: 30%; 
		margin-top: -25px; 
		margin-left: 15%; 
	}
	.product .product-item-list-2nd .picture{
		width: 50%; 
		top:-300px;
		right: 0px;
	}
	.product .product-item-list-2nd .product-name{
		margin-left: 15%; 
		font-size: 69px; 
		margin-top: 30px;
	}

	.product .product-item-list-3th .picture{
		width: 50%; 
		left:-20px; 
		top:-315px;
	}
	.product .product-item-list-3th .description{
		width: 45%; 
		margin-top: 30px; 
		margin-right: 8%; 
	}
	.product .product-item-list-3th .product-name{
		margin-left: 38%; 
		font-size: 80px; 
		margin-top: 75px;
	}

	.product .for-btn-all-product{
		margin: 40px auto 80px; 
	}

	.contact-us .title{
		margin: 60px auto 50px; 
		font-size: 46px;
	}
	.contact-us .row{
		width: 80%; 
	}
	.contact-us .row .description p{
		font-size: 16px;
		margin-bottom: 15px;
	}
	.contact-us .row .description img{
		width: 35px;
		margin-right: 15px;
	}
	.contact-us .row .form-contact .form-control{
		margin: 10px 0px;
	}
	.contact-us .row .form-contact .btn-submit{
		padding: 5px 20px; 
		font-size: 20px;
	}

	.for-web-devlop{
		margin-top: 40px; 
		padding-bottom: 60px; 
	}
	.for-web-devlop p{
		margin: 0px 0px 5px;
	}
	.for-web-devlop img{
		height: 15px;
	}

	.footer{
		width: 95%; 
		height: 60px; 
		padding:10px 0px;
	}
	.footer .wrapper-footer{
		height: 40px; 
	}
	.footer .wrapper-footer label{
		margin: 0 10px;
	}
	.footer .wrapper-footer .logo-contact-us-footer{
		width: 30px;
	}

}