.btn-orange{
  background-color: rgb(246,184,70);
  font-family: 'PermanentMarker';
  color: rgb(255,255,255);
  padding: 4px 20px;
  font-size: 24px;
  transition: all .51s;
}
.btn-orange:hover{
  color: rgb(99,99,99);
  background-color: rgb(252,171,76);
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.setup-wrapper{
  position: relative;
  width: 100%;
}
.setup-wrapper .setup-content{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.setup-wrapper .setup-content.nor-wd{
  width: 75%;
}
.setup-wrapper .setup-content.lar-wd{
  width: 90%;
}

/* for navbar */
.navbar-statick{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background:rgba(0,0,0,0);
  transition: all .51s;
}
.navbar-statick.scroller{
  background-color: rgba(0,0,0,.9);
}
.navbar-statick .wrapper-nav{
  margin: 0 auto;
  text-align: center;
}
.navbar-statick .wrapper-nav .list-item-nav{
  display: inline-block;
  cursor: pointer;
  transition: all .51s;
  height: 60px;
  padding: 0px 20px;
}
.navbar-statick .wrapper-nav .list-item-nav:hover{
  border-bottom: 2px solid gray; 
}
.navbar-statick .wrapper-nav .list-item-nav:hover .valign-midle a,
.navbar-statick .wrapper-nav .list-item-nav:hover .valign-midle i{
  color: rgb(205,205,205);
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle{
  display: table-cell;
  vertical-align: middle;
  height: 60px;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle a{
  color: rgb(255,255,255);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0,0,0);
  font-size: 16px;
  font-family: 'LibreBaskerville';
  font-weight: bold;
  cursor: pointer;
  transition: all .51s;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon{
  width: 80px;
  height: auto;
  transition: all .51s;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon.scroller{
  position : absolute;
  top : 30px ;
  left : 60px;
  width : 180px;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon.berri{
  -webkit-animation: iconBerri 5s infinite;
  -moz-animation: iconBerri 5s infinite;
  animation: iconBerri 5s infinite;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon.berri.scroller{
  -webkit-animation: iconBerriScroller 5s infinite;
  -moz-animation: iconBerriScroller 5s infinite;
  animation: iconBerriScroller 5s infinite;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon.juice{
  -webkit-animation: iconJuice 5s infinite;
  -moz-animation: iconJuice 5s infinite;
  animation: iconJuice 5s infinite;
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon.juice.scroller{
  -webkit-animation: iconJuiceScroller 5s infinite;
  -moz-animation: iconJuiceScroller 5s infinite;
  animation: iconJuiceScroller 5s infinite;
}
@-webkit-keyframes iconBerri {
    0% {width: 0px; opacity: 0;}
    50% {width: 80px; opacity: 1;}
    100% {width: 0px; opacity: 0;}
}
@-moz-keyframes iconBerri {
    0% {width: 0px; opacity: 0;}
    50% {width: 80px; opacity: 1;}
    100% {width: 0px; opacity: 0;}
}
@keyframes iconBerri {
    0% {width: 0px; opacity: 0;}
    50% {width: 80px; opacity: 1;}
    100% {width: 0px; opacity: 0;}
}
@-webkit-keyframes iconBerriScroller {
    0% {width: 0px; opacity: 0;}
    50% {width: 180px; opacity: 1;}
    100% {width: 0px; opacity: 0;}
}
@-moz-keyframes iconBerriScroller {
    0% {width: 0px; opacity: 0;}
    50% {width: 180px; opacity: 1;}
    100% {width: 0px; opacity: 0;}
}
@keyframes iconBerriScroller {
    0% {width: 0px; opacity: 0;}
    50% {width: 180px; opacity: 1;}
    100% {width: 0px; opacity: 0;}
}
@-webkit-keyframes iconJuice {
    0% {width: 80px; opacity: 1;}
    50% {width: 0px; opacity: 0;}
    100% {width: 80px; opacity: 1;}
}
@-moz-keyframes iconJuice {
    0% {width: 80px; opacity: 1;}
    50% {width: 0px; opacity: 0;}
    100% {width: 80px; opacity: 1;}
}
@keyframes iconJuice {
    0% {width: 80px; opacity: 1;}
    50% {width: 0px; opacity: 0;}
    100% {width: 80px; opacity: 1;}
}
@-webkit-keyframes iconJuiceScroller {
    0% {width: 180px; opacity: 1;}
    50% {width: 0px; opacity: 0;}
    100% {width: 180px; opacity: 1;}
}
@-moz-keyframes iconJuiceScroller {
    0% {width: 180px; opacity: 1;}
    50% {width: 0px; opacity: 0;}
    100% {width: 180px; opacity: 1;}
}
@keyframes iconJuiceScroller {
    0% {width: 180px; opacity: 1;}
    50% {width: 0px; opacity: 0;}
    100% {width: 180px; opacity: 1;}
}
.navbar-statick .wrapper-nav .list-item-nav .valign-midle i{
  color: rgb(255,255,255);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0,0,0);
  font-size: 25px;
  cursor: pointer;
}
.navbar-statick .wrapper-nav .list-item-nav #bar-mobile-animate{
  display: none;
}

.dropdown{
    position: relative;
}
.dropdown .dropdown-content{
    position: absolute;
    display: none;
    background-color: rgba(255, 212, 121, 1);
    z-index: 1;
    transition: all .52s;
    width: 185px;
    left: 0px;
    text-align: left;
    padding: 10px 5px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown .dropdown-content a{
  text-decoration: none !important;
  color: white;
  margin: 5px 0px;
}

@media (max-width: 480px) {
  .navbar-statick{
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(242,165,45,.6);
    z-index: 2;
    transition: all .51s;
  }
  .navbar-statick .wrapper-nav .list-item-nav{
    height: 60px;
    width: 80%;
    margin: 0 auto;
  }
  .navbar-statick .wrapper-nav .list-item-nav .valign-midle{
    height: 60px;
  }
  .navbar-statick .wrapper-nav .list-item-nav .valign-midle .icon-berri{
    width: 80px;
  }
  .navbar-statick .wrapper-nav .list-item-nav #bar-mobile-animate{
    width: 250px;
    text-align: right;
    display: block;
    position: absolute;
  }

  /* hide navbar */
  .navbar-statick .wrapper-nav .list-item-nav{
    display: none;
  }
  /* show icon bar */
  .navbar-statick .wrapper-nav .resposive-mobile{
    display: block;
  }
  
  /* click function for show navbar run in jquery navbar-static.js */
}
/* end for navbar */

/* for contact */
#contact-us{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#contact-us h1.title{
  text-align: center;
  color: rgb(99,99,99);
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'PermanentMarker';
  font-size: 53px;
}
#contact-us .row{
  margin: 0 auto;
}
#contact-us .row .description{
  color: white;
}
#contact-us .row .description p,
#contact-us .row .description a{
    font-family: 'LibreBaskerville';
    font-size: 16px;
  margin-bottom: 15px;
  color: rgb(99,99,99);
  text-decoration: none;
}
#contact-us .row .description img{
  width: 35px;
  margin-right: 15px;
}
#contact-us .row .form-contact .form-control{
  margin: 10px 0px;
}
#contact-us .row .form-contact .btn-submit{
  border: none; 
  border-radius: 0px; 
  background-color: white; 
  color: rgb(246,174,57); 
  font-weight: bold;
  transition: all .51s;
  padding: 5px 20px; 
  font-size: 20px;
}
#contact-us .row .form-contact .btn-submit:hover{
  background-color: rgb(255, 210, 0);
}

#contact-us .for-web-devlop{
  text-align: center; 
  color: white;
  margin-top: 40px; 
  padding-bottom: 60px;
}
#contact-us .for-web-devlop p{
    font-family: 'OptimaLTStd-Medium';
    margin: 0px 0px 5px;
}
#contact-us .for-web-devlop img{
  cursor: pointer;
  height: 24px;
}
/* end for contact */

/* for footer */
.footer{
  margin: 0 auto; 
  color: red; 
  width: 95%; 
  height: 60px; 
  padding:10px 0px;
}
.footer .wrapper-footer{
  display: table-cell; 
  vertical-align: middle;
  height: 40px; 
}
.footer .wrapper-footer label{
  font-family: 'LibreBaskerville';
  margin: 0 10px;
}
.footer .wrapper-footer label b{
  font-family: 'LibreBaskerville';
  font-weight: 'bold';
}
.footer .wrapper-footer .logo-contact-us-footer{
  width: 30px;
  cursor: pointer;
}
.border-gradian-right {
    border-right-width: 1.9px;
    border-right-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(rgba(0, 0, 0, 0), rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgb(202, 34, 41), rgba(0, 0, 0, 0)) 1 100%;
}
/* end for footer */
